{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<ul>
  {% for name in names if 'e' in name %}
    <li>{{ name}}</li>
  {% endfor %}
</ul>

{% endblock %}
