{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<ul>
  {% for name in names if name is not empty %}
    <li>{{ name |replace({'e': 'i', 'r': 'u'}) | upper }}</li>
  {% endfor %}
</ul>

{% endblock %}
