{% extends 'base.html.twig' %}

{% block title %}Edit phonee{% endblock %}

{% block body %}
<form action="" method="post">
  <div>
    <label>Numéro</label>
    <input type="text" name="number" value="{{phone.number}}">
  </div>
  <button type="submit" class="btn btn-success">Envoyer</button>
</form>
{% endblock %}
