{% extends 'base.html.twig' %}

{% block title %}Hello Contact2Controller!{% endblock %}

{% block body %}

<h1>Liste de contacts</h1>

<a href="{{ path('contact2_add') }}">AJOUTER UN CONTACT</a><br><br>

{% for contact in contacts %}
  {{contact.firstname  ~ ' ' ~ contact.lastname}}
  <a href="{{ path('contact2_edit', {id: contact.id}) }}">Modifier</a>&nbsp;
  <a href="{{ path('contact2_remove', {id: contact.id}) }}">Supprimer</a>
  <br>
{% endfor%}


{% endblock %}
